/* Style de la navbar */

body{
    margin:0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espace entre les sections */
    background-color: transparent;
    padding: 10px 20px;
}

/* Logo et texte */
nav .logo {
    display: flex;
    align-items: center; /* Aligne l'image et le texte verticalement */
    text-decoration: none; /* Supprime le soulignement du lien */
}

nav .logo img {
    width: 100px; /* Taille de l'image */
    height: auto;
    cursor: pointer;
    margin-right: 8px; /* Espace entre l'image et le texte */
}

nav .logo-text {
    color: white;
    font-size: 20px; /* Taille du texte */
    font-weight: bold; /* Gras pour le texte */
}

/* Rubriques centrales */
nav .center-links {
    display: flex;
    justify-content: center; /* Centre les rubriques */
    flex-grow: 1; /* Utilise l'espace entre la gauche (logo) et la droite ("Se connecter") */
    gap: 100px; /* Espacement entre les rubriques */
}

/* Style pour les liens */
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Style pour le bouton "Se connecter" */
nav a.se-connecter {
    background-color: #dcce6b;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    border-color: #dcce6b;
    border-style: solid;
}



/* Survol des boutons */
nav a:hover {
    background-color: #dcce6b;
    color: black;
}

nav button:hover{
    background-color: #555;
    color: white;
}

nav a.se-connecter:hover {
    background-color: transparent;
    color: white;
    border-color: #dcce6b;
    border-style: solid;
}


/* Navbar au-dessus de la vidéo */
nav {
    position: relative; /* Assurez-vous que la navbar est bien positionnée */
    z-index: 2; /* Place la navbar au-dessus de la vidéo */
    background-color: rgba(0, 0, 0, 0.6); /* Optionnel : Fond semi-transparent pour améliorer la lisibilité */
    color: white;
    padding: 10px 20px;
}

/* Conteneur principal */
.container {
    position: relative; /* Nécessaire pour le contenu au-dessus de la vidéo */
    z-index: 1; /* Place le contenu principal au-dessus de la vidéo */
    color: white; /* Assure que le texte reste lisible */
}
